<div id="saved">
    <span (click)="getAllSchedules()" class="savedButtons left return">PUBLIC LISTS</span>
    <span (click)="getUserSchedules()" class="savedButtons right delete">USER LISTS</span><br><br>
    <ul id="savedschedules">
        <li><hr></li>
        <li *ngIf="specificSchedule.name !== ''">Timetable for schedule: <b>{{specificSchedule.name}}</b></li>
        <li *ngFor="let d of specificSchedule.courses">
            <span class="subject">{{d[0].subject}}</span>
            <span class="course">{{d[0].courseCode}}</span>
            <span class="description">{{d[0].description}}</span>
            <div class="ext_description">{{d[0].ext_description}}</div>
            <table class="courseinfotable">
                <tr>
                    <td class="courseinfo">COMPONENT</td>
                    <td class="courseinfo">SECTION</td>
                    <td class="courseinfo">CLASS</td>
                    <td class="courseinfo">INSTRUCTOR</td>
                    <td class="courseinfo">REQUISITES/CONSTRAINTS</td>
                    <td class="courseinfo">DAYS</td>
                    <td class="courseinfo">TIMES</td>
                    <td class="courseinfo">LOCATION</td>
                    <td class="courseinfo">CAMPUS</td>
                    <td class="courseinfo">STATUS</td>
                </tr>
                <tr *ngFor="let e of d[0].courseInfo">
                    <!-- LEC/LAB icons from FontAwesome, TUT icon from flaticon.com/authors/pixel-perfect -->
                    <td class="courseinfovalue comp compLEC" *ngIf="e.ssr_component==='LEC'"><img src="../../assets/img/chalkboard-teacher.svg" width="14" height="16" /> {{e.ssr_component}}</td>
                    <td class="courseinfovalue comp compTUT" *ngIf="e.ssr_component==='TUT'"><img src="../../assets/img/presentation.svg" width="14" height="16" /> {{e.ssr_component}}</td>
                    <td class="courseinfovalue comp compLAB" *ngIf="e.ssr_component==='LAB'"><img src="../../assets/img/flask.svg" width="14" height="16" /> {{e.ssr_component}}</td>
                    <td class="courseinfovalue">{{e.class_section}}</td>
                    <td class="courseinfovalue">{{e.class_nbr}}</td>
                    <td class="courseinfovalue">{{e.instructors}}</td>
                    <td class="courseinfovalue req">{{e.descr}} {{e.descrlong}}</td>
                    <td class="courseinfovalue">{{e.days}}</td>
                    <td class="courseinfovalue">{{e.start_time}} - {{e.end_time}}</td>
                    <td class="courseinfovalue">{{e.facility_ID}}</td>
                    <td class="courseinfovalue">{{e.campus}}</td>
                    <td class="courseinfovalue">{{e.enrl_stat}}</td>
                </tr>
            </table>
        </li>
        <li *ngIf="allSchedules !== null">Schedule names and number of courses saved to them:</li>
        <li *ngFor="let a of allSchedules; index as i">
            <span class="subject" dir="ltr" (click)="showCourses(i)">{{a.name}}</span>
            <span class="course" dir="ltr">{{a.number}}</span>
            <span>Last modified on: {{a.date | date:'medium'}}, </span>
            <span>by: {{a.displayName}}</span>
            <div class="sched" *ngIf="show[i]">
                <span>{{a.description}}</span>
                <div *ngFor="let c of a.courses">
                    <span class="subject">{{c.subject}}</span>
                    <span class="course">{{c.courseCode}}</span>
                </div>
                <span (click)="getTimetable(a.name)">View Full Timetable</span>
            </div>
        </li>
        <li *ngIf="userSchedules !== null">Schedule names:</li>
        <li *ngFor="let u of userSchedules">
            <span class="subject" dir="ltr" (click)="editUserSchedule(u.name)">{{u.name}}</span>
            <span class="course" dir="ltr"> </span>
        </li>
        <li *ngIf="editSchedule !== null">
            <input class="left" id="saveName" placeholder="Enter name for schedule" value="{{editSchedule.name}}" maxlength="20"><span (click)="saveSchedule()" class="savedButtons right">SAVE</span>
            <input class="left right" id="saveDesc" placeholder="Enter a description for your schedule"  value="{{editSchedule.description}}" maxlength="30">
            <label class="checkcontainer">PRIVATE
                <input *ngIf="editSchedule.private, else public" id="checkPrivate" type="checkbox" checked="checked">
                <ng-template #public><input id="checkPrivate" type="checkbox"></ng-template>
                <span class="checkmark"></span>
            </label>
            <ul id="builderData">
                <li>Courses</li>
                <li *ngFor="let a of editSchedule.courses">
                    <span class="subject">{{a.subject}}</span>
                    <span class="course">{{a.courseCode}}</span>
                    <span class="remove" (click)="removeCourse(a.subject, a.courseCode)">X</span>
                </li>
            </ul>
            <span (click)="deleteSchedule()" class="savedButtons left right">DELETE</span>
        </li>
    </ul>
</div>
