<div id="schedule">
  <img routerLink="/" [src]="'assets/img/schedule.png'" alt="scuffed">
  <div id="topright">
    <span *ngIf="auth.user | async as user" (click)="resetPassword()">RESET PASSWORD</span>
    <span *ngIf="auth.user | async as user" (click)="logout()">LOGOUT</span>
  </div>

  <div id="mode">
    <span id="buildSel" routerLink="/builder">SEARCH & BUILD</span>
    <span id="savedSel" routerLink="/saved">ACCESS SAVED DRAFTS</span>
    <span *ngIf="auth.cookie.get('admin')" id="adminSel" routerLink="/admin">ADMIN PANEL</span>
    <hr>
  </div>
  <router-outlet></router-outlet>
  <hr>
  <div id="honesty">
    <span>DMCA Policy</span> | 
    <span>Security and Privacy Policy</span> | 
    <span>Acceptable Use Policy</span>
  </div>
</div>
<div id="DMCA" class="popupNamed">DMCA BLURB</div>
<div id="SPP" class="popupNamed">SPP</div>
<div id="AUP" class="popupNamed">AUP BLURB</div>
