<p>Welcome to Scuffed Draft My Schedule!</p>
<div *ngIf="auth.user | async as user; else showLogin">
    <p>You're already logged in.</p>
</div>

<ng-template #showLogin>
    <form [formGroup]="loginForm">
        <div>
            <label>Email</label>
            <input type="email" formControlName="email" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password" required>
        </div>
        <button (click)="loginEmail(loginForm.value)">LOGIN</button>
    </form>

    <button (click)="loginGoogle()">GOOGLE</button>

    <form [formGroup]="registerForm">
        <div>
            <label>Email</label>
            <input type="email" formControlName="email" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password" required>
        </div>
        <div>
            <label>Name</label>
            <input type="name" formControlName="displayName" required>
        </div>
        <button (click)="registerEmail(registerForm.value)">REGISTER</button>
    </form>
</ng-template>
